.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa;

}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {}

@media (max-width:767.98px) {}

.padding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.grid-margin,
.purchace-popup>div {
    margin-bottom: 60px;
    width: 650px;
    height: 550px;
}

.card {
    border: 0;
    border-radius: 2px;
}

.card-weather {
    background: #e1ecff;
    background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff);

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}


.card-weather .card-body:first-child {
    background-size: cover;
    height: 245px;
}


.card {
    border: none
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.card-weather .weather-date-location {
    padding: 0 0 38px;
}

.h3,
h3 {
    font-size: 1.56rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
    color: #969696;

}

p {
    font-size: 13px;
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
    color: black;
}

.card-weather .weather-data {
    padding: 0 0 4.75rem;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
    display: flex;
    justify-content: space-between;
}

.display-3 {
    font-size: 2.5rem;
}

.card-weather .card-body {
    background: #ffffff;
}

.card-weather .weakly-weather {
    background: #ffffff;
    overflow-x: auto;
}

.card-weather .weakly-weather .weakly-weather-item {
    flex: 0 0 14.28%;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    padding: 6px;
    text-align: center;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.mb-0 {
    margin-top: 5px;
}

.card-weather .weakly-weather .weakly-weather-item i {
    font-size: 1.2rem;
}

.weakly-weather {
    display: flex;
}



.condition {
    font-weight: lighter;
}

.first-day-icon {
    height: 100px;
    width: 100px;
}

.weather-icons-images {
    width: 50px;
    margin-top: 10px;
}




.hours-forecast {
    background: #ffffff;
    display: flex;
    font-size: 1.2rem;
    overflow-x: auto;
    border-top: 1px solid #f2f2f2;

}

.hour {
    flex: 0 0 14.24%;
    padding: 6px;
    text-align: center;
}

.open-hours-forecast-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}